<<<<<<< HEAD
* {box-sizing:border-box;
  margin: 0;
  }
body{
  background-color: rgb(231, 231, 231);
=======

.body{
    width: 90%;
    margin: auto;
    background-color: rgb(170, 63, 63);
    margin-top: 2px;
    min-height: 900px;
}
.headlogo{
    display: inline-block;
    margin:5px 10px;
    padding: 5px;
    color: hotpink;
}

.head{
    width: 100%;
    background-color: rgb(211, 28, 28);
    border:1px solid gray;
    margin: none;
    padding: none;
}
.info-bar{
    padding: 10px 15px;
    border: 2px solid rgb(211, 40, 28);
    margin: 2px 4px;
    border-radius: 2px;
}
.info-bar:hover{
    background-color: rgb(130, 0, 0);
    border: 2px solid rgba(211, 40, 28, 0.685);
    
}


.nav-bar{
    display: inline;

<<<<<<< HEAD
/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #2e2929;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  background-color: rgb(104, 30, 30) 0.7;
  text-align: center;
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #554d4d;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb 0.7;
  border-radius: 30%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
.upper{
  position: relative;
  top: -50px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* seguanda pagian ploteo incio de sesión*/

.login-pagina{
border: hidden;
background-color: grey;
padding: 4px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
=======
>>>>>>> fbbde0c8788a013428c1089c3cc18e6678ed5e97
}